###Libraries / Data

import numpy and pandas libraries

In [ ]:
import numpy as np
import pandas as pd

import datetime library to work with dates

In [ ]:
from datetime import datetime

Specify some pandas library options that configure output

In [ ]:
pd.options.display.max_rows = 10

- read data
- use Symbol column as index 
- read only columns ['Symbol', 'Sector', 'Price', 'Book Value']

| Column Name        | Description
| ------------- |:-------------:|
|Symbol|Abbreviated name of organization|
|Name|Full name of organization|
|Sector|Economic Sector|
|Price|Share price|
|Dividend Yield|Dividend Yield|Dividend Yield|
|Price/Earnings|Price / Profit|
|Earnings/Share|Earnings on Share|
|Book Value|Company Book Value|
|52 week low|52 week minimum|
|52 week high|52-week maximum|
|Market Cap|Market Capitalization|
|EBITDA|***E**arnings **b**efore *i**nterest, ***t*axes, **d**epation and ***mortization|
|Price/Sales|Price / Sales|
|Price/Book|Price / Book Price|
|SEC Filings|Link *sec.gov*|

In [ ]:
sp500 = pd.read_csv("../data/sp500.csv",
                    index_col='Symbol',
                    usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

create a dataframe with 5 rows and 3 columns

In [ ]:
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'], 
                  columns=['c1', 'c2', 'c3'])
df

- add several columns and rows to the c4 datafray with NaN values
- string 'f' with values from 15 to 18 
- string 'g' consisting of NaN values
- column 'c5' consisting of NaN values
- change the value in the column 'c4' of the row 'a'

In [ ]:
df['c4'] = np.nan
df.loc['f'] = np.arange(15, 19) 
df.loc['g'] = np.nan
df['c5'] = np.nan
df['c4']['a'] = 20
df

### Missed values

#### Search

Which elements are NaN values?

In [ ]:
df.isnull()

Which elements are not set values? (we can use df.isnull() )

In [ ]:
df.notnull()

count the number of NaN values in each column

In [ ]:
df.isnull().sum(axis=0)

calculate the number of values other than NaN for each column (we can use len(df) - df.isnull().sum())

In [ ]:
df.count(axis=0)

#### Deleting

In [ ]:
df

select unchecked values in column c4

In [ ]:
df.c4[df.c4.notnull()]

this program code extracts all values except NaN values in c4 column

In [ ]:
df.c4.dropna()

.dropna() returns a copy with deleted values of the original date/column unchanged

In [ ]:
df.c4

method. dropna() removes whole rows with at least one NaN value in this case all rows will be deleted

In [ ]:
df.dropna()

using the how='all parameter, delete only those rows where all values are NaN values

In [ ]:
df.dropna(how = 'all')

In [ ]:
df

change axis to remove columns with NaN values instead of rows

In [ ]:
df.dropna(how='all', axis=1) # удаляем c5

- create a copy of dataframe df
- replace two cells with 0 skips

In [ ]:
df2 = df.copy()
df2.loc['g'].c1 = 0
df2.loc['g'].c3 = 0
df2

and now delete columns that have at least one NaN value

In [ ]:
df2.dropna(how='any', axis=1)

remove only columns with at least 3 NaN values

In [ ]:
df2

In [ ]:
df2.dropna(thresh=2, axis=1)

#### filling

##### constant

In [ ]:
df

return a new dataframe where NaN values are filled with constant - zeros

In [ ]:
filled = df.fillna(0)
filled

NaN values are not taken into account when calculating mean values

In [ ]:
df.mean()

after replacing the NaN values with 0, we get different averages

In [ ]:
filled.mean()

##### direct and inverse

direct filling

In [ ]:
df.c4

In [ ]:
df.c4.fillna(method="ffill")

or fill back

In [ ]:
df.c4.fillna(method="bfill")

##### using indexes

New set of examples:

In [ ]:
fill_values = pd.Series([100, 101, 102], index=['a', 'e', 'g'])
fill_values

Task example:

In [ ]:
df.c4

In [ ]:
df.c4.fillna(fill_values)

fill the NaN values in each column with the average value of that column

In [ ]:
df.mean()

In [ ]:
df

In [ ]:
df.fillna(df.mean())

#### interpolation of skipped values

Perform linear interpolation ( method = 'linear' default) values NaN с 1 по 2

In [ ]:
s = pd.Series([1, np.nan, np.nan, np.nan, 2])
s

In [ ]:
s.interpolate()

create a time series, but only one date will be skipped

In [ ]:
ts = pd.Series([1, np.nan, 2], 
            index=[datetime(2014, 1, 1), 
                   datetime(2014, 2, 1),                   
                   datetime(2014, 4, 1)])
ts

Perform linear interpolation based on the number of elements in the series

In [ ]:
ts.interpolate()

this program code takes into account the fact that we have no record for 2014-03-01

In [ ]:
ts.interpolate(method="time")

create a Series object to demonstrate interpolation based on index marks

In [ ]:
s = pd.Series([0, np.nan, 100], index=[0, 2, 10])
s

interpolate linearly

In [ ]:
s.interpolate()

interpolate based on index values

In [ ]:
s.interpolate(method="index")

### duplicated values

create dataframe with duplicate rows

In [ ]:
data = pd.DataFrame({'a': ['x'] * 3 + ['y'] * 4, 
                     'b': [1, 1, 2, 3, 3, 4, 4]})
data

determine which rows are duplicate, that is, which rows have been previously encountered in the dataframe

In [ ]:
data.duplicated()

delete duplicate rows, each time leaving the first of the duplicate observations

In [ ]:
data.drop_duplicates()

delete duplicate rows, each time leaving the last of the duplicate observations

In [ ]:
data.drop_duplicates(keep='last')

Adding coloumn:

In [ ]:
data

In [ ]:
data['c'] = range(7)
data.duplicated()

In [ ]:
data

but if we specify that you want to remove duplicate rows based on the values in columns a and b, the results will look like this

In [ ]:
data.drop_duplicates(['a', 'b'])

### Value substitution

#### method .map()

create two Series objects to illustrate the value matching process

In [ ]:
x = pd.Series({"one": 1, "two": 2, "three": 3})
y = pd.Series({1: "a", 2: "b", 3: "c"})
x

In [ ]:
y

Compare x series values to y series values

In [ ]:
x.map(y)

if no match is found between y series and x series index mark, NaN value will be issued

In [ ]:
x = pd.Series({"one": 1, "two": 2, "three": 3})
y = pd.Series({1: "a", 2: "b"})

In [ ]:
x

In [ ]:
y

In [ ]:
x.map(y)

#### method .replace()

as an example

In [ ]:
s = pd.Series([0., 1., 2., 3., 2., 4.])
s

substitution  2 to 5

In [ ]:
s.replace(2, 5)

replace all elements with new values

In [ ]:
s.replace([0, 1, 2, 3, 4], [4, 3, 2, 1, 0])

In [ ]:
s

replace elements using dictionary as argument

In [ ]:
s.replace({0: 10, 2: 100})

create a dataframe with two columns

In [ ]:
df = pd.DataFrame({'a': [0, 1, 2, 3, 4], 'b': [5, 6, 7, 8, 9]})
df

specify different interchangeable values for each column

In [ ]:
df.replace({'a': 1, 'b': 8}, {'a': 777, 'b': 888})

### Function use

#### to strings/ coloumns

illustrate the application of a function to each element of a Series object

In [ ]:
s = pd.Series(np.arange(0, 5))
s

In [ ]:
s.apply(lambda v: v * 3)

create a dataframe to illustrate the application of the summation operation to each column

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4, 3), 
                  columns=['a', 'b', 'c'])
df

calculate the sum of elements in each column

In [ ]:
df.apply(lambda col: col.sum())

calculate the sum of elements in each line

In [ ]:
df.apply(lambda row: row.sum(), axis=1)

create column 'interim' by multiplying columns a and b

In [ ]:
df

In [ ]:
df['interim'] = df.apply(lambda r: r.a * r.b, axis=1)
df

and now we get the 'result' column by adding the 'interim' and 'c' columns

In [ ]:
df['result'] = df.apply(lambda r: r.interim + r.c, axis=1)
df

#### to values

use the . applymap() method for all datafreem values to change the format of all DataFrame object elements

In [ ]:
df

In [ ]:
df.applymap(lambda x: np.exp(x)/10)